<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>
<body>

<section class="container">
<h1>Access Log Viewer</h1>
<table id="LogView" class="table table-sm table-hover">
<thead class="thead-default"><tr><th colspan="6"><button id="ResetFilter" class="btn btn-sm btn-block btn-warning">Reset Filter</button></th></tr>
<tr><th id="date">日付</th><th>時間</th><th id="islId">島ID</th><th id="islName">島名</th><th id="deptIp">接続元IP</th><th id="deptName">接続元名</th></tr></thead>
<tbody></tbody>
</table>
<script type="text/x-template" id="LogTemplate">
	<tr><th scope="row" data-name="dateAt" class="logFilter"><%= date %></th><td><%- time %></td><td class="logFilter" data-name="islId"><%- islId %></td><td class="logFilter"><%- islName %></td><td class="logFilter"><%- deptIp %></td><td class="logFilter"><%- deptName %></td></tr>
</script>
</section>

<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/underscore/underscore-min.js"></script>
<script src="../../node_modules/backbone/backbone-min.js"></script>
<script src="page.js"></script>
</body>
</html>
