<?xml version="1.0"?>
<phpunit
	backupGlobals="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="true"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	stopOnRisky="false"
	verbose="false"
	>
	<php>
		<ini name="DEBUG" value="true" />
	</php>
</phpunit>
