body {
    font-family: Lato, "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, sans-serif;
    color: #333;
    background-color: #f6fbfd;
}

/* 区切り線 */
hr,
.cmnSection {
    border-bottom: 1px solid #5FAFD7;
}

/* テーブル */
table,
td.M,
img {
    border: none;
}
th, td {
    white-space: nowrap;
}


/* TOPページ ---------------------------------------------------------*/


/* タイトル */
h1 {
    color: #666;
}
.title::first-letter {
    color: #4169E1;
    font-size: 1.6em;
}
.Turn {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #6BBED5;
}
h2 {
    font-weight: bold;
    color: #6BBED5;
}

/* 最近の出来事 */
#HistoryLog, #RecentlyLog {
    white-space: nowrap;
}

/* 大きい文字 */
.big {
    font-size: 24px;
}

/* リアルタイマー */
.timer {
    color: #6BBED5;
    font-weight: bold;
    border-style: none;
    margin: 1px 0px;
}

/* Mapページ ---------------------------------------------------------*/

#NaviView {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    background-color: #000;
    min-width: 120px;
    max-width: 180px;
    margin-top: -224px;
    padding: 4px;
    white-space: normal;
    opacity: 0.8;
}
.NaviTitle {
    font-size: 9px;
    padding: 5px 0;
    color: #fff;
    border: none;
}
.NaviImg {
    margin: 6px;
}
.NaviText {
    margin: 6px 0;
    font-size: 11px;
    color: #fff;
}

/* 島情報テーブル */

#islandInfo table {
    text-align: center;
    width: 100%;
}
#islandMap, #islandMap table {
    margin: auto;
}

/* 観光者通信テーブル */
#localBBS table th {
    background-color: #AFEEEE;
}

.islName, .islName2, .number, .head, .headToTo,
.command, .disaster, .lbbsCell, .money, .food,
.HCwin, .HClose, .attention, .bumon {
    font-weight: bold;
}

/* 島の名前など */
.islName {
    color: #A06040;
}

/* 薄くなった島の名前 */
.islName2 {
    color: #808080;
}

/* 順位の番号など */
.number {
    color: #6BBED5;
}

/* 順位表における見だし */
#islandInfo th,
#Ranking th,
.head {
    color: #000080;
}

/* toto表における見だし */
.headToTo {
    color: royalblue;
}

/* 開発計画名 */
.command {
    color: #D08000;
}

/* 災害 */
.disaster {
    color: #f00;
}

/* 食料 */
.food {
    color: lightseagreen;
}

/* 箱庭カップ勝利 */
.HCwin {
    color: #00f;
}

/* 箱庭カップ敗北 */
.HClose {
    color: #A06040;
}

/* 注意 */
.attention {
    color: #f00;
}

/* ランキングの部門名 */
.bumon {
    color: #fff;
}

/* point */
.point {
    color: royalblue;
}

/* 失業率- */
.unemploy1 {
    color: royalblue;
}

/* 失業率+ */
.unemploy2 {
    color: #f00;
}

/* 首都名，ユニーク地形 */
.shuto {
    color: mediumseagreen;
}

/* 島主の家，島ID */
.house {
    color: salmon;
}

/* 人工衛星 */
.eisei {
    color: lightseagreen;
}

/* 怪獣出現中！，成長率 */
.monsm {
    color: hotpink;
}

/* 通常の文字色 */
.normal {
    color: #000;
}

/**
 * 背景色
 */

/* 順位表見出し */
#islandInfo th,
#Ranking th,
.TitleCell {
    background-color: #97D3E3;
}

/* 順位表順位 */
.NumberCell {
    background-color: #97D3E3;
}

/* 順位表島の名前 */
.NameCell {
    background-color: #e9f6f9;
}

/* 順位表島の情報 */
.InfoCell {
    background-color: #DBF0F6;
    text-align: right;
}

/* 順位表島の情報 */
.MarkCell,
.TenkiCell {
    background-color: #DBF0F6;
    text-align: center;
}

/* 順位表島の情報 */
.ItemCell {
    background-color: #DBF0F6;
    text-align: left;
}

/* 順位表コメント欄 */
.CommentCell {
    background-color: #fff;
    text-align: left;
}

/* 開発計画フォーム */
.InputCell {
    background-color: #AFEEEE;
}

/* 開発計画地図 */
.MapCell {
    background-color: #fff;
}

/* 開発計画入力済み計画 */
.CommandCell {
    background-color: #fff;
    white-space: normal;
}

/* 観光者通信の内容 */
.lbbsCell {
    background-color: #fff;
}

/* Point欄 */
.PoinCell {
    background-color: #ffe4b5;/*-> moccasin*/
}

/* toto欄 */
.TotoCell {
    background-color: #fff;
}

/* ランキング欄 */
.RankingCell {
    background-color: #b0c4de;/*-> lightsteelblue*/
}

/* Popup コマンド入力欄 */
.PopupCell {
    background-color: #DBF0F6;
}

/* JSコマンド送信済み */
.commandjs1 {
    border-width: 0px;
    color: blue;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* JSコマンド未送信 */
.commandjs2 {
    border-width: 0px;
    color: red;
    width: 100%;
    height: 100%;
    background-color: #fff;
}



/**
 * 追加した項目
 */

#islandMap img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.card-header,
.card-footer {
    padding: 0.25rem 1rem;
}


.p-t-harf { padding-top: 0.5rem !important;}
.p-b-harf { padding-bottom: 0.5rem !important;}
.p-v-harf { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important;}
